assets/*
scripts/*
nbproject/*
/*.log
data/cache/*
!data/cache/donotremove
!data/cache/db
data/cache/db/*
!data/cache/db/donotremove
data/logs/*
!data/logs/donotremove
public/js/dijit/*
public/js/dojo/*
public/js/dojox/*
public/js/util/*
public/js/bba/bba.layer.js
public/js/bba/bba.profile.js
