/*.log
application/configs/db.ini
assets/*
!assets/htaccess
bba-power-docs/client_docLoa/*
!bba-power-docs/client_docLoa/donotremove
bba-power-docs/contract_docAnalysis/*
!bba-power-docs/contract_docAnalysis/donotremove
bba-power-docs/contract_docContractSearchable/*
!bba-power-docs/contract_docContractSearchable/donotremove
bba-power-docs/contract_docContractSignedBoth/*
!bba-power-docs/contract_docContractSignedBoth/donotremove
bba-power-docs/contract_docContractSignedClient/*
!bba-power-docs/contract_docContractSignedClient/donotremove
bba-power-docs/contract_docTermination/*
!bba-power-docs/contract_docTermination/donotremove
data/cache/*
!data/cache/donotremove
!data/cache/db
data/cache/db/*
!data/cache/db/donotremove
data/logs/*
!data/logs/donotremove
nbproject/*
public/.htaccess
public/js/dojo
public/js/dijit
public/js/dojox
public/js/util
scripts/*
tests/tmp/db/*
tests/tmp/session/*
