body {
    background: #fff url("/images/bodyBg.gif") repeat-x top left;
    font-family: "Times New Roman", serif;
    font-size: 90%;
}

html, body {
    height: 100%;
    width: 100%;
    margin: 0px;
    overflow: hidden;
    padding: 0px;
}

#appLayout {
    height: 100%;
    margin: 0px;
}

#topPanel {
    text-align: center;
}

#leftPanel {
    width: 10em;
    overflow: auto;
}

.claro .tabContainer {
    width:100%;
    height:100%;
    padding: 0px;
}

.claro .dijitTabContainerTop-dijitContentPane,
.claro .dijitTabContainerBottom-dijitContentPane,
.claro .dijitTabContainerLeft-dijitContentPane,
.claro .dijitTabContainerRight-dijitContentPane,
.claro .tabContainer .dijitBorderContainer-child {
    padding: 0px;
    margin: 0px;
    border: 0px;
}

.claro .tabContainer .dijitTabPaneWrapper,
.claro .tabContainer .dijitTabContainerTop-tabs,
.claro .dojoxWizard {
    border: 0px;
}

.claro .tabContainer .clientEditTabs-BorderContainter,
.claro .tabContainer .clientAddressEditTabs-BorderContainter,
.claro .tabContainer .siteEditTabs-BorderContainter,
.claro .tabContainer .meterEditTabs-BorderContainter,
.claro .tabContainer .contractEditTabs-BorderContainter,
.claro .tabContainer .supplierEditTabs-BorderContainter {
    height: 50%;
}

.claro .tabContainer .info-panels {
    width: 24%;
}

.tableBottom div {
    margin: 0px;
}

.wizard {
    margin-bottom: 25px;
}

#addClientWidget {
    width: 400px;
    height:auto;
    margin: auto;
}

.tabHeading {
    padding: 5px 5px 0px 5px;
    height:50%;
}

/* Dialogs */
#addmeterContract {
    width: 1010px;
}

/* pre-loader specific stuff to prevent unsightly flash of unstyled content */
#loader {
	padding:0;
	margin:0;
	position:absolute;
	top:0; left:0;
	width:100%; height:100%;
	background:#efefef;
	opacity: 0.98;
	z-index:999;
	vertical-align:middle;
}

#loaderInner {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 32px;
	height: 32px;
	margin-top: -16px;
	margin-left: -16px;
	background-image: url('/images/loader_lg.gif');
	background-repeat: no-repeat;
}

/* Overides of text.css  -  or can we just remove text.css??  */
h1 {
	margin: 0px;
    font-size: 1.50em;
}

h2 {
	font-size:1.25em;
	margin: 0px;
}

h3 {
	font-size:1.10em;
	margin: 0px;
}

p {
	margin-bottom: 10px;
}

table {
	margin-bottom: 10px;
}

.id_number {
    font-size: .75em;
}

/**
 * Navigation
 */

.claro .dijitButton .dijitButtonNode {
    padding: 1px;
}

.claro .dijitButtonText,
.claro .dojoxGridHeader .dojoxGridCell {
	font-family: sans-serif;
}

#nav ul
{
    list-style: none;
    margin: 0px 0px 10px 0px;
}

#nav ul ul
{
    margin: 0px;
}

#nav li
{
    margin: 0px;
    margin-top: 3px;
}

#nav li li
{
    margin-top: 3px;
}

#nav li li:first-child
{
    margin-top: 0px;
}

#nav .lastLink
{
    margin-top: 10px;
}

#nav span
{
    margin: 0px 10px;
    font-weight: bold;
}

#nav a, .button
{
    display: block;
    border: 1px solid #769dc0;
	background-image: url("/images/button.png");
	background-position: center top;
	background-repeat: repeat-x;
	background-color: #e4f2ff;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	box-shadow:0px 1px 1px rgba(0,0,0,0.15);
	-webkit-box-shadow:0px 1px 1px rgba(0,0,0,0.15);
	-moz-box-shadow: 0px 1px 1px rgba(0,0,0,0.15);

    margin: 0px 10px;
    color: #000;
    text-decoration: none;
    text-align: center;
    font-family: sans-serif;
}

#nav a:hover, .button:hover
{
    background-color: #afd9ff;
	color:#000;
 	-webkit-transition-duration:.2s;
}

#nav a.active
{
    background-color: #afd9ff;
	color:#000;
 	-webkit-transition-duration:.2s;
}

/**
 * Forms
 */

.form_wrap {
    width: 480px;
    text-align: center;
}

.zend_form {

}

.zend_form .form_row {
    text-align: left;
    margin: 5px 0px;
    /* 1px stll had a 1px gap. so I have given each
     * each row a class name of 'form_row' and added
     * top and bottom margin to seperate the elements better.
     */
	/* 1px seems to make the dojo type of field the correct size (was 10px)*/
}

.zend_form p[id$=label], .zend_form .label {
    float: left;
    text-align: right;
    width: 200px;
    margin-right: 5px;
    margin-bottom: 1px;
    height: 100%;
}
/*    see  #Search .search
label.search {
	float: none;
}
*/

.zend_form .element
{
    margin: 0px;
    display: inline;
}

.zend_form .element label {
    float: none;
    text-align: left;
    width: auto;
}

.zend_form .errors {
    color: #f00;
}

.zend_form .hint {
    display: inline;
}

input,
select {
    color: #000;
    border: 1px solid #000;
}

input[type=submit] {
    font-size: 90%;
    margin: auto 10px;
    float: left;
    border: 1px solid #769dc0;
    background-image: url("/images/button.png");
	background-position: center top;
	background-repeat: repeat-x;
	background-color: #e4f2ff;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	box-shadow:0px 1px 1px rgba(0,0,0,0.15);
	-webkit-box-shadow:0px 1px 1px rgba(0,0,0,0.15);
	-moz-box-shadow: 0px 1px 1px rgba(0,0,0,0.15);
}

input[type=submit]:hover {
    cursor: pointer;
    background-color: #afd9ff;
	color:#000;
 	-webkit-transition-duration:.2s;
}
/*    see   #Search .search
input[class=search] {
    float: none;
}
*/
.required:before {
    content: '*';
    color: #f00;
}

.errors {
    text-align: right;
}

/*
Form overrides.
*/

.client_edit .label,
.client_edit p[id$=label] {
    width: 110px;
}

.site_edit .label,
.meter_edit .label {
    width: 100px;
}

.contract_edit .label {
    width: 120px;
}

#contract_type-label {
    height: 50px;
}

#usage_type-label {
    height: 50px;
}

.align-right {
    vertical-align: middle;
}

#loginWrap {
    width: 500px;
    margin: auto;
    text-align: center;
}

#loginWrap .zend_form .form_row {
    text-align: center;
}

#loginWrap .zend_form p
{
    display: inline;
}

#loginWrap .zend_form label {
	float: none;
}

/**
 * Search Form
 */
#Search {
    margin-bottom: 20px;
}

#Search .row {
    margin-right: 20px;
}

#Search .search {
    float: none;
}

/**
 * Ident Styles
 */
.ident {
     float: left;
     margin: 5px;
     margin-left: 30px;
     max-width: 30%;
}

.alpha {
    margin-left: 5px;
    max-width: 30%;
}

/**
 * Table Styles
 */
table {
    width: 100%;
    border: 1px solid #000;
    border-collapse: collapse;
}

th {
    text-align: left;
    font-weight: bold;
}

.dojoxGrid table {
    margin: 0px;
    padding: 0px;
    border: 0px;
}

.dojoxGrid td {
    cursor: pointer;
}

.claro .dojoxGridContent .dojoxGridCell {
    border-right:1px solid #bcbcbc;
    padding-left: 5px;

}

.claro .dojoxGridHeader .dojoxGridCell  {
	padding-left: 5px;
    background: url("/js/release/bba/dojox/grid/resources/images/header_shadow.png") #e5edf4 repeat-x bottom;
}

.claro .dojoxGridHeader .dojoxGridCell:hover {
	background-color:#9dcfff;
}

.claro .dojoxGridCellOver .dojoxGridSortNode {
	background-color: transparent;
    border: 1px solid transparent;
}

.claro .dojoxGridSortNode {
    white-space:normal;
    line-height: 14px;
    background: none;
}

/*
	TableHead styles - the heading line and possible(New XXXX)button that heads
						each table of details.
*/

.tableHead {
    /* a  DIV  */
    overflow: hidden;	/* terminate any floats */
    margin-top: 0px;
}
.tableHead-heading {
    /* an  H2  */
    float: left;
}
.tableHead-button {
    /* a  P  for the button */
    float: right;
    margin: 0px;
}

/*
Pagination
*/
.pagination-control {
    text-align: center;
    margin-top: 10px;
}

/*
Flash Messenger
*/

#messages p {
    border-radius: 10px;
    padding: 10px;
    padding-left: 35px;
    font-weight: bold;
    font-size: 16px;
    margin: 0px;
}

.pass {
    color: green;
    background: url('/images/OKShield.png') center left no-repeat
}

.fail {
    color: red;
    background: url('/images/ErrorShield.png') center left no-repeat;
}

.current-eidt, .current-eidt:hover {
    background-color: #bbb;
    color: #eed;
}

.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

/**
Meter Styles
*/
.meterContract {
    width: 33%;
}

.meterContract h3 {
    text-align: center;
}

.meterContract p {
    margin: 2px;
}