body {
    background: #fff url("../images/bodyBg.gif") repeat-x top left;
    font-family: "Times New Roman", serif;
    font-size: 90%;
}

html, body {
    height: 100%;
    width: 100%;
    margin: 0px;
    overflow: hidden;
    padding: 0px;
}

#appLayout {
    height: 100%;
    margin: 0px;
}

#topPanel {
    text-align: center;
}

#leftPanel {
    width: 150px;
    overflow: auto;
}

.claro .tabContainer {
    width:100%;
    height:100%;
    padding: 0px;
}

.claro .dijitTabContainerTop-dijitContentPane,
.claro .dijitTabContainerBottom-dijitContentPane,
.claro .dijitTabContainerLeft-dijitContentPane,
.claro .dijitTabContainerRight-dijitContentPane,
.claro .tabContainer .dijitBorderContainer-child {
    padding: 0px;
    margin: 0px;
    border: 0px;
}

.claro .tabContainer .dijitTabPaneWrapper,
.claro .tabContainer .dijitTabContainerTop-tabs,
.claro .dojoxWizard {
    border: 0px;
}

.claro .tabContainer .clientEditTabs-BorderContainter,
.claro .tabContainer .clientAddressEditTabs-BorderContainter,
.claro .tabContainer .siteEditTabs-BorderContainter,
.claro .tabContainer .meterEditTabs-BorderContainter,
.claro .tabContainer .contractEditTabs-BorderContainter,
.claro .tabContainer .supplierEditTabs-BorderContainter {
    min-height: 150px;
}

.claro .tabContainer .info-panels {
    width: 24%;
}

.tableBottom div {
    margin: 0px;
}

.wizard {
    margin-bottom: 25px;
}

#addClientWidget {
    width: 600px;
    height: auto;
    margin: auto;
}

#addClientWidget .dialog_footer_info {
    position: relative;
    bottom: 30px;
    margin-left: auto;
    margin-right: auto;
}

#addClientWidget .dialog_footer_info p {
    margin: 0px;
    padding: 0px;
    float: left;
    text-align: left;
}

#addClientWidget .dialog_footer_info .warn {
    margin-left: 30px;
    padding-left: 16px;
    background: url('../images/WarningShield.png') no-repeat left center;
}

.tabHeading {
    padding: 5px 5px 0px 5px;
}

#leftPanelTop,
#nav {
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
}

#leftPanelBottom p {
    text-align: center;
    margin: 0px;
}

/* Dialogs */
#addmeterContract {
    width: 1010px;
}

#contractform {
    width: auto;
}

#login .dijitDialogTitleBar .dijitDialogCloseIcon {
    display: none;
}

/* pre-loader specific stuff to prevent unsightly flash of unstyled content */
#loader {
	padding:0;
	margin:0;
	position:absolute;
	top:0; left:0;
	width:100%; height:100%;
	background:#efefef;
	opacity: 0.98;
	z-index:999;
	vertical-align:middle;
}

#loaderInner {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 32px;
	height: 32px;
	margin-top: -16px;
	margin-left: -16px;
	background-image: url('../images/loader_lg.gif');
	background-repeat: no-repeat;
}

/* Overides of text.css  -  or can we just remove text.css??  */
h1 {
	margin: 0px;
    font-size: 1.50em;
}

h2 {
	font-size:1.25em;
	margin: 0px;
}

h3 {
	font-size:1.10em;
	margin: 0px;
}

p {
	margin-bottom: 10px;
}

.id_number {
    font-size: .75em;
}

/**
 * Navigation
 */

.claro .dijitButton .dijitButtonNode {
    padding: 1px;
}

.claro .dijitButtonText,
.claro .dojoxGridHeader .dojoxGridCell {
	font-family: sans-serif;
}

#nav ul
{
    list-style: none;
    margin: 0px 0px 10px 0px;
}

#nav ul ul
{
    margin: 0px;
}

#nav li
{
    margin: 0px;
    margin-top: 3px;
}

#nav li li
{
    margin-top: 3px;
}

#nav li li:first-child
{
    margin-top: 0px;
}

#nav .lastLink
{
    margin-top: 10px;
}

#nav span
{
    margin: 0px 10px;
    font-weight: bold;
}

#nav a, .button
{
    display: block;
    border: 1px solid #769dc0;
	background-image: url("../images/button.png");
	background-position: center top;
	background-repeat: repeat-x;
	background-color: #e4f2ff;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	box-shadow:0px 1px 1px rgba(0,0,0,0.15);
	-webkit-box-shadow:0px 1px 1px rgba(0,0,0,0.15);
	-moz-box-shadow: 0px 1px 1px rgba(0,0,0,0.15);
    margin: 0px 10px;
    color: #000;
    text-decoration: none;
    text-align: center;
    font-family: sans-serif;
}

#nav a:hover, .button:hover {
    background-color: #afd9ff;
	color:#000;
 	-webkit-transition-duration:.2s;
}

#nav a.active {
    background-color: #afd9ff;
	color:#000;
 	-webkit-transition-duration:.2s;
}

a.view_button {
    display: inline;
    margin: 0px 5px;
    padding: 0px 2px;
    font-size: 12px;
}

a:hover {
    text-decoration: none;
}

/**
 * Forms
 */

.form_wrap {
    width: 480px;
    text-align: center;
}

.zend_form {

}

.zend_form .form_row {
    text-align: left;
    margin: 5px 0px;
}

.zend_form p[id$=label], .zend_form .label {
    float: left;
    text-align: right;
    width: 200px;
    margin-right: 5px;
    margin-bottom: 1px;
}

.zend_form .element
{
    margin: 0px;
    display: inline;
}

.zend_form .element label {
    float: none;
    text-align: left;
    width: auto;
}

table.zend_form {
	margin-left: auto;
	margin-right: auto;
	border-collapse: separate;
	border-spacing: 0px 5px;
}

.zend_form th {
	font-weight: bold;
	text-align: right;
}

.submitElement {
	text-align: center;
}

.zend_form .errors {
    color: #f00;
}

.zend_form .hint {
    display: inline;
}

.zend_form input,
.zend_form select {
    color: #000;
}

.zend_form input[type=submit] {
    font-size: 90%;
    margin: auto 10px;
    float: left;
    border: 1px solid #769dc0;
    background-image: url("../images/button.png");
	background-position: center top;
	background-repeat: repeat-x;
	background-color: #e4f2ff;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	box-shadow:0px 1px 1px rgba(0,0,0,0.15);
	-webkit-box-shadow:0px 1px 1px rgba(0,0,0,0.15);
	-moz-box-shadow: 0px 1px 1px rgba(0,0,0,0.15);
}

.zend_form input[type=submit]:hover {
    cursor: pointer;
    background-color: #afd9ff;
	color:#000;
 	-webkit-transition-duration:.2s;
}

.required:before {
    content: '*';
    color: #f00;
}

.zend_form .errors {
    text-align: center;
}

table.zend_form .errors {
    text-align: left;
}

.zend_form .simple-textarea {
    clear: both;
}

.zend_form textarea {
    width: 325px;
    height: 100px;
}

.zend_form .dialog_footer_info p {
    margin: 0px;
    padding: 0px;
    text-align: left;
    float: left;
}

.zend_form .dialog_footer_info .warn {
    margin-left: 30px;
    padding-left: 16px;
    background: url('../images/WarningShield.png') no-repeat left center;
}

.dojoxBusyButtonIcon {
    position: absolute;
	width: 10px;
	height: 10px;
	vertical-align: middle;
	margin-left: 4px;
	background-image: url('../images/loading_wheel.gif');
	background-repeat: no-repeat;
}

/*
Form overrides.
*/

#clientForm .form_wrap {
    width: 650px;
}

.site_edit .label,
.meter_edit .label {
    width: 100px;
}

#contractForm .form_wrap {
    width: 700px;
}

#contractForm p[id$=label] {
    width: 250px;
}

.zend_form .file-element {
    margin: 0px;
    padding: 0px;
    vertical-align: middle;
}

.zend_form .file-form_row {
    padding: 0px;
    text-align: left;
    margin: 5px 0px;
}

#contract_docAnalysis-label,
#contract_docContractSearchable-label,
#contract_docContractSignedClient-label,
#contract_docContractSignedBoth-label,
#contract_docTermination-label,
#client_docLoa-label {
    margin: 0px;
    height: 48px;
}

#contract_docAnalysis_file,
#contract_docContractSearchable_file,
#contract_docContractSignedClient_file,
#contract_docContractSignedBoth_file,
#contract_docTermination_file,
#client_docLoa_file {
    height: 19px;
    line-height: 19px;
    padding: 1px 2px;
    margin-left: 255px;
    border: 1px solid #b5bcc7;
}

#client_docLoa_file {
    margin-left: 0px;
}

#client_docLoa_file {
    /*margin-left: 205px;*/
}

.client_edit #client_docLoa_file {
    /*margin-left: 180px;*/
}

#contract_docAnalysis_file:hover,
#contract_docContractSearchable_file:hover,
#contract_docContractSignedClient_file:hover,
#contract_docContractSignedBoth_file:hover,
#contract_docTermination_file:hover,
#client_docLoa_file:hover {
    border-color: #759dc0;
    -webkit-transition-duration: 0.25s;
    -moz-transition-duration: 0.25s;
    transition-duration: 0.25s;
    background-color: #e5f2fe;
    background-image: url("../js/release/bba/dijit/themes/claro/form/images/textBox_back.png");
    background-repeat: repeat-x;
}

.align-right {
    vertical-align: middle;
}

#loginWrap {
    width: 500px;
    margin: auto;
    text-align: center;
}

#loginWrap .zend_form .form_row {
    text-align: center;
}

/**
 * Search Form
 */
#Search {
    margin-bottom: 20px;
}

#Search .row {
    margin-right: 20px;
}

#Search .search {
    float: none;
}

/**
 * Info Displays
 */
.info_wrap {
    vertical-align: top;
    text-align: center;
    float: left;
    margin: 5px;
    width: auto;
    min-width: 200px;
 }

.info_wrap caption, .info_wrap .caption {
     font-size: 1.10em;
     font-weight: bold;
     text-align: left;
     padding: 0px 10px;
}

.info_wrap th {
     font-weight: bold;
     text-align: right;
     width: auto;
 }

.info_wrap td {
     text-align: left;
     padding: 0px 10px;
}

.info_wrap .footer {
     text-align: center;
}

.info_wrap .description {
    max-width: 400px;
}

/**
 * Ident Styles
 */
.ident {
     float: left;
     margin-left: 30px;
}

/**
 * Table Styles
 */

.filelistTable,
.filelistTable th,
.filelistTable td {
     border: 1px dotted #000;
     padding: 5px;
}

.filelistTable tr:nth-child(odd) {
    background-color: #eee;
}

.filelistTable caption {
    font-weight: bold;
}

#clientGrid,
#contractGrid,
#invoiceGrid,
#meterGrid,
#siteGrid,
#supplierGrid,
#userGrid  {
    height: 99.5%;
}

.dojoxGrid table {
    width: 100%;
    margin: 0px;
    padding: 0px;
    border: 0px;
}

.dojoxGrid th {
    font-weight: bold;
}

.dojoxGrid td {
    cursor: pointer;
}

.claro .dojoxGridContent .dojoxGridCell {
    border-right:1px solid #bcbcbc;
    padding-left: 5px;

}

.claro .dojoxGridHeader .dojoxGridCell  {
	padding-left: 5px;
    background: url("../js/release/bba/dojox/grid/resources/images/header_shadow.png") #e5edf4 repeat-x bottom;
}

.claro .dojoxGridHeader .dojoxGridCell:hover {
	background-color:#9dcfff;
}

.claro .dojoxGridCellOver .dojoxGridSortNode {
	background-color: transparent;
    border: 1px solid transparent;
}

.claro .dojoxGridSortNode {
    white-space:normal;
    line-height: 14px;
    background: none;
}

/*
	TableHead styles - the heading line and possible(New XXXX)button that heads
						each table of details.
*/

.tableHead {
    /* a  DIV  */
    overflow: hidden;	/* terminate any floats */
    margin-top: 0px;
}
.tableHead-heading {
    /* an  H2  */
    float: left;
}
.tableHead-button {
    /* a  P  for the button */
    float: right;
    margin: 0px;
}

/*
Messages
*/
#error-content {
    width: 800px;
}

#error-content caption {
    line-height: 34px;
    padding-left: 34px;
    background: url('../images/ErrorShield.png') center left no-repeat;
}

#error-content p {
    margin: 0px 5px;
}

#error-content pre {
    white-space: pre-wrap;
    word-break: break-all;
    word-wrap: break-word;
}

#error-content table,
#error-content td,
#error-content th {
    border: 1px dotted #000;
}

#error-content td {
    border: 1px dotted #000;
}

#error-content th {
    font-weight: bold;
    width: 100px;
}

/*
Pagination
*/
.pagination-control {
    text-align: center;
    margin-top: 10px;
}

/*
Flash Messenger
*/

#messages p {
    border-radius: 10px;
    padding: 10px;
    padding-left: 35px;
    font-weight: bold;
    font-size: 16px;
    margin: 0px;
}

.pass {
    color: green;
    background: url('../images/OKShield.png') center left no-repeat
}

.fail {
    color: red;
    background: url('../images/ErrorShield.png') center left no-repeat;
}

.warning {
    color: red;
    padding-left: 16px;
    background: url('../images/WarningShield.png') center left no-repeat;
}

.current-eidt, .current-eidt:hover {
    background-color: #bbb;
    color: #eed;
}

.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

/**
Meter Styles
*/
.meterContract {
    width: 33%;
}

.meterContract h3 {
    text-align: center;
}

.meterContract p {
    margin: 2px;
}

#version {
    position: absolute;
    top: 0px;
    right: 5px;
}

#dojoVersion {
    position: absolute;
    top: 18px;
    right: 5px;
}